.button {
  border-width: 3px;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.button-white-HIGH {background-color: white;}
.button-white-LOW {background-color: gainsboro;}
.button-blue-HIGH {background-color: DeepSkyBlue;}
.button-blue-LOW {background-color: MidnightBlue;}
.button-green-HIGH {background-color: lime;}
.button-green-LOW {background-color: darkgreen;}
.button-red-HIGH {background-color: red;}
.button-red-LOW {background-color: darkred;}
.button-yellow-HIGH {background-color: yellow;}
.button-yellow-LOW {background-color: darkkhaki;}

